<extend name="Base/base"/>
<block name="body">
    <body>
    <div class="main">
        <!--导航部分-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid text-center">
                <div class="col-xs-3">
                    <p class="navbar-text"><a href="index.html" class="navbar-link">首页</a></p>
                </div>
                <div class="col-xs-3">
                    <p class="navbar-text"><a href="#" class="navbar-link">服务</a></p>
                </div>
                <div class="col-xs-3">
                    <p class="navbar-text"><a href="#" class="navbar-link">发现</a></p>
                </div>
                <div class="col-xs-3">
                    <p class="navbar-text"><a href="#" class="navbar-link">我的</a></p>
                </div>
            </div>
        </nav>
        <!--导航结束-->

        <div class="container-fluid">
            <div class="blank"></div>
            <h3 class="noticeDetailTitle"><strong>关于我们</strong></h3>
            <div class="noticeDetailContent">
                破的肌肤破大概破地方不就行破风格放假哦跑哦粉红if偶发念佛I覅哦佛你发个ion佛念佛I弄佛I覅哦你哦I广佛I佛I给你发偶发能够I弄佛I你发
            </div>
        </div>
    </div>
</block>
